<% if user_signed_in? %>
  <h1 class="center">Your Errors</h1>
  <% @sentryErrors.each do |error| %>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title"> <%= error.title %> </h5>
      <h6 class="card-subtitle mb-2 text-muted"> Count: <%= error.count %> </h6>
      <p class="card-text"> <%= error.culprit %> </p>
      <p class="card-text"> <%= link_to "Show", show_path(error_id: error.id) %> </p>
      <% error.links.split(",").each do |googleLink| %>
           <% link = googleLink.split("splithere") %>
           <%= link_to link[1], link[0], class: "card-link" %> <br>
       <% end %>
    </div>
  </div>
  <% end %>
<% else %>
  <%= render "pages/landing" %>
<% end %>
