
<div class="card">
  <div class="card-body">
      <h2 class="card-title"> <%= @sentryerror.title %> </h2>
      <h4 class="card-subtitle mb-2 text-muted"> Count: <%= @sentryerror.count %> </h4>
      <p class="card-text"> <b> The Culprit: </b> <%= @sentryerror.culprit %> </p>
      <p class="card-text"> <b> Error Message: </b> <%= @sentryerror.value %> </p>
      <% @sentryerror.links.split("newlinkishere").each do |googleLink| %>
        <% link = googleLink.split("splithere") %>
        <% @theAnswers = get_answer(link[0]) %>
        <% @theAnswers.each do |answer| %>
          <h4> Stack Overflow Answer: <% if answer[0] == 1 %> - <b><i>Approved Answer</i></b> <% end %></h4>
          <h5> Link: <%= link_to "Answer!", answer[1] %> </h5>
          <div class="code-content">
            <% str = answer[2].html_safe %>
            <%= str %>
          </div> 
        <% end %>
        <br><br>
      <% end %>
  </div>
</div>